# OS
.DS_Store

# model testing data from reddit
data/reddit_data

# build stuff
*.egg-info/
__pycache__/
*.pyc
dist/
build/

# model training data
src/artdetectors/data/train
src/artdetectors/data/val

# results from example images
example_results

# model
src/artdetectors/models

# venv
eecs6893-final-proj-venv